<%= form_for @map_download, url: admin_download_path do |f| %>
		<% if @map_download.errors.any? %>
			<div id="error_explanation">
				<h2><%= @map_download.errors.count %> Error(s) prohibited this from being saved:</h2>
				<ul>
					<% @map_download.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, :placeholder => "Name", class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :link %>
			<%= f.text_field :link, :placeholder => "Link to Tar or Zip", class: "form-control" %>
		</div>
		<div class="form-group">
			<div class="pull-right"><p class="text-muted"><%= link_to "Text formatted via Markdown Formatting", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "blank" %></p></div>
			<%= f.label :description %>
			<%= f.text_area :description, :placeholder => "Short description of this file", :rows => 2, class: "form-control" %>
		</div>


	  	<div class="form-actions">
		<%= f.button "Edit Map Download", class: "btn btn-primary" %>
		<%= link_to "Cancel", admin_downloads_path, :class => "btn btn-default" %>
		</div>

 <hr>

	<% end %>
