<% page_title "Map Downloads" %>

<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to("Add Download", new_admin_download_path,
      class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-border-around mb-0">
            <thead>
              <tr>
                <th>Date Posted</th>
                <th>Name</th>
                <th>Description</th>
                <th>Map Download</th>
                <th style="min-width: 140px;"></th>
              </tr>
            </thead>
            <tbody>
              <%= render(partial: 'admin/downloads/map_download', collection: @map_downloads) %>
            </tbody>
          </table>

          <div class="mt-3 row justify-content-center">
            <%= paginate @map_downloads %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
