<%= form_for @changes do |f| %>
	<% if @changes.errors.any? %>
		<div id="error_explanation">
		<h2><%= @changes.errors.count %> Error(s) prohibited this change from being saved:
		</h2>
		<ul>
		<% @changes.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

	<div class="form-group">
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</div>
	<div class="form-group">
	<%= f.label :text %><br>
	<%= f.text_area :text %>
	</div>
  	<div class="form-actions">
	<%= f.submit %>
	</div>

<% end %>