<%= form_for @changes do |f| %>
	<% if @changes.errors.any? %>
		<div id="error_explanation">
		<h2><%= @changes.errors.count %> Error(s) prohibited this change from being saved:
		</h2>
		<ul>
		<% @changes.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

	<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, :placeholder => "Please enter a title here", class: "form-control input-lg" %>
	</div>
	<div class="form-group">
	<%= f.label :text %>
	<%= f.text_area :text, :placeholder => "Post changes here... Markdown supported!", :rows => 5,  class: "form-control" %>
	</div>
  	<div class="form-actions">
	<%= f.submit class: "btn btn-primary" %>
	</div>
<% end %>