<% page_title "Change Log" %>
<div class="well">
	<div class="page-header">
		<h1>Changes</h1>
	</div>

		<p>Here you can see the changes we make to the AthensMC community and website. If you have a suggestion please feel free to get in touch. We look forward to making this site great for you. You can see the most recent changes at the top, to go back in time check some of the later pages</p>

		<%  @changes.each do |changes| %>
		<!-- Start Changes Post -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong><%= changes.title %></strong></h3>
			</div>

			<div class="panel-body">
				<p>
					<%=  markdownify(changes.text) %>
				</p>
				<hr />
				<p>
				<div class="pull-right">
					<small>Submitted <strong><%= local_time_ago(changes.created_at) %></strong></small>
				</div>
				<%= link_to "Permalink", change_path(changes) %>  | <%= link_to "Edit", edit_change_path(changes) %>
			</div>
		</div>
		<!-- End of Changes Post -->
		<% end %>

		<!-- Pagination Stuff  -->
		<div class="center">
		<%= will_paginate @changes, renderer: BootstrapPagination::Rails %>
		</div>

		<!-- Start Buttons Shown to Admins) -->
		<hr />
        <%= link_to raw("New Change"), new_change_path, :class => "btn btn-primary" %>
</div>
