<% page_title "Change Log" %>
<div class="well">
	<div class="page-header">
		<h1>Changes</h1>
	</div>

		<p>Here you can see the changes we make to the AthensMC community and website. If you have a suggestion please feel free to get in touch. We look forward to making this site great for you. You can see the most recent changes at the top, to go back in time check some of the later pages</p>

		<%  @changes.each do |changes| %>
		<!-- Start Changes Post -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><%= changes.title %></h4>
			</div>

			<div class="panel-body">
			<small>  Submitted <strong><%= time_ago_in_words(changes.created_at) %></strong> ago</small>
				<p>
					<%=  markdownify(changes.text) %>
				</p>
				<p>
				<%= link_to "Edit", edit_change_path(changes) %> |<%= link_to "Show", change_path(changes) %> 

				</p>
			</div>
		</div>
		<!-- End of Changes Post -->
		<% end %>

		<!-- Pagination Stuff  -->
		<div class="center">
		<%= will_paginate @changes, renderer: BootstrapPagination::Rails %>
		</div>
		<hr />
		Example Post:
		<!-- Start Changes Post -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<strong>v0.1.0.1 - 2/5/2015</strong>
			</div>

			<div class="panel-body">
				<p><strong>Things Changed:</strong></p>
				<ul>
					<li>Reopened the Vanilla Survival Server on 1.7.9 - survival.athensmc.com</li>
					<li>Various Site Modifications</li>
					<li>Added a way for users to <%= link_to 'Subscribe to Support AthensMC', subscribe_path %></li>
					<li>Posted <%= link_to'Subscribe to support us Discussion', 'http://forums.athensmc.com/threads/subscribe-to-support-us.101' %> on the Forums</li>
				</ul>
			</div>
		</div>
		<!-- End of Changes Post -->

		<!-- Start Buttons Shown to Admins) -->
		<hr />
        <%= link_to raw("New Change"), new_change_path, :class => "btn btn-primary" %>
</div>
