<h1>New Change</h1>

<%= form_for :changes, url: changes_path do |f| %>
	<% if @changes.errors.any? %>
		<div id="error_explanation">
		<h2><%= @changes.errors.count %> Error(s) prohibited this change from being saved:
		</h2>
		<ul>
		<% @changes.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label :text %><br>
	<%= f.text_area :text %>
	</p>
	<p>
	<%= f.submit %>
	</p>

<% end %>

<%= link_to "Back", changes_path %>