<% page_title "Edit Account" %>

<div class="page-header">
  <h4 class="page-title">Edit Account</h4>
  <h5 class="page-subtitle">Change the details of your account</h5>
</div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card card-body mb-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
          <%= error_message_on(f.object, :username) %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: false, class: "form-control" %>
          <%= error_message_on(f.object, :email) %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <%= error_message_on(f.object, :password) %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          <%= error_message_on(f.object, :password_confirmation) %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          <%= error_message_on(f.object, :current_password) %>
        </div>

        <div class="form-group">
          <%= f.submit "Update Settings", class: "btn btn-primary btn-block" %>
        </div>
        <hr />
        <div class="form-group">
            <%= image_tag current_user.decorate.minecraft_avatar, style: "float:right", height: "64px" %>
            <%= f.label :minecraft_uuid, "Minecraft UUID" %> <br />
            <%= current_user.dashed_uuid %> <br />
            <% if current_user.minecraft_uuid.nil? %>
            <i><strong><%= link_to "Link Minecraft Account", links_minecraft_path %></strong></i>
            <% else %>
            <i><strong><%= link_to "Contact Support to Change", root_path %></strong></i>
            <% end %>
        </div>
        <hr />
        <div class="form-group">
          <!-- Whitelist Status -->
          <strong>Membership Status</strong><br>
          <% if current_user.whitelist_request %>
            <% if current_user.whitelist_request.status == "pending" %>
                    <p class="text-info text-middle"><strong>Your request is still pending!</strong> <i class="fa fa-5x fa-pencil-square" style="float: right"></i></p>
            <% end %>
            <% if current_user.whitelist_request.status == "approved" %>
                    <p class="text-success text-middle"><strong>You are whitelisted!</strong> <i class="fa fa-5x fa-check-square-o" style="float: right"></i></p>
            <% end %>
            <% if current_user.whitelist_request.status == "denied" %>
                    <p class="text-danger text-middle"><strong>Your application has been denied!</strong> <i class="fa fa-5x fa-times-circle-o" style="float: right"></i></p>
            <% end %>
          <% else %>
            <%= link_to "You can apply for the whitelist here.", whitelist_requests_path, class: "btn btn-success" %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
