<% content_for :title, "Map Downloads" %>
<div class="well">
	<div class="page-header">
		<h1>Map Downloads</h1>
	</div>
	<p>We believe that you should have access to a copy of the world that you spend so much time on, so we're making some of our backups open so you can download a copy of the map to tinker with in Singleplayer.</p>

	<p>To use these downloads, you'll need a program like <%= link_to "7-Zip", "http://www.7-zip.org/" %></p>

	<div class="alert alert-danger">
		<p>These downloads are not automatic and may not be updated quickly!</p>
	</div>

	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>Server</strong></td>
			<td><strong>Map Download</strong></td>


			<tr class="warning">
				<td>08/27/2014</td>
				<td>Direwolf20 Server (v1.0.23) FTB World download</td>
				<td><%= link_to 'Latest FTB Download', 'http://maps.athensmc.com/backups/direwolf20v1_0_23-08272014.tar.gz' %></td>
			</tr>
		<tr class="success">
			<td>07/30/2014</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Latest Map Download', 'http://maps.athensmc.com/backups/20140730-18-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>12/22/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131222-13-50surv.tar.gz' %></td>
		</tr>

		<tr>
			<td>11/26/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131126-21-24surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>11/16/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131116-15-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>10/13/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/101313-00-50survival.tar.gz' %></td>
		</tr>
	</table>
</div>
