<% content_for :title, "Map Downloads" %>
<div class="well">
	<div class="page-header">
		<h1>Map Downloads</h1>
	</div>
	<p>We believe that you should have access to a copy of the world that you spend so much time on, so we're making some of our backups open so you can download a copy of the map to tinker with in Singleplayer.</p>

	<p>To use these downloads, you'll need a program like <%= link_to "7-Zip", "http://www.7-zip.org/" %></p>

	<hr />

	<% if @map_downloads.empty? %>
    <h2>There are no map downloads currently! Check back soon!</h2>
  <% else %>

    <table class="table table-hover table-striped table-bordered">
     <thead>
            <tr>
              <th>Date Posted:</th>
              <th>Name:</th>
              <th>Description:</th>
              <th>Map Download:</th>
            </tr>
          </thead>
          <tbody>

    <% @map_downloads.each do |map| %>
				<tr>
          <td><%= map.created_at.strftime("%m/%d/%Y") %>
          <td><%= map.name %></td>
          <td><%= map.description %></td>
          <td><%= link_to "Download", map.link %></td>
        </tr>
    <% end %>
          </tbody>
        </table>
  <% end %>

	<% #Pagination Renderer %>
		<div class="center">
		<%= will_paginate @map_downloads, renderer: BootstrapPagination::Rails %>
		</div>

		<hr />

		<div class="page-header">
			<h1>Archived Downloads</h1>
		</div>
		<div class="alert alert-danger">
			<p>The downloads down here are from before the system was switched over, and are here until we can get them into the system</p>
		</div>
	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>Server</strong></td>
			<td><strong>Map Download</strong></td>


			<tr class="warning">
				<td>08/27/2014</td>
				<td>Direwolf20 Server (v1.0.23) FTB World download</td>
				<td><%= link_to 'Latest FTB Download', 'http://maps.athensmc.com/backups/direwolf20v1_0_23-08272014.tar.gz' %></td>
			</tr>
		<tr class="success">
			<td>07/30/2014</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Latest Map Download', 'http://maps.athensmc.com/backups/20140730-18-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>12/22/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131222-13-50surv.tar.gz' %></td>
		</tr>

		<tr>
			<td>11/26/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131126-21-24surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>11/16/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131116-15-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>10/13/2013</td>
			<td>Survival(1.7 map)</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/101313-00-50survival.tar.gz' %></td>
		</tr>
	</table>
</div>
