<tr>
  <td><%= whitelist_request.id %></td>
  <td><%= link_to whitelist_request.user.username, user_path(whitelist_request.user.username) %></td>
  <td><%= whitelist_request.user.dashed_uuid %></td>
  <td><%= whitelist_request.user.last_sign_in_ip %></td>
  <td><%= whitelist_request.referred_by %></td>
  <td>
    <% if whitelist_request.status == "approved" %>
      <span class="badge badge-success">Approved</span>
    <% end %>
    <% if whitelist_request.status == "pending" %>
      <span class="badge badge-warning">Pending</span>
    <% end %>
    <% if whitelist_request.status == "denied" %>
      <span class="badge badge-danger">Denied</span>
    <% end %>
  </td>
  <td>
    <%= link_to approve_admin_whitelist_requests_path(whitelist_request.id), method: :patch do %>
      <i class="fa fa-check fa-2x"></i>
    <% end %>
    &nbsp;
    <%= link_to deny_admin_whitelist_requests_path(whitelist_request.id), method: :patch do %>
      <i class="fa fa-minus-square fa-2x"></i>
    <% end %>
    &nbsp;
    <%= link_to admin_whitelist_requests_path(whitelist_request.id), :method => :delete, data: { confirm: "Are you sure you want to delete #{whitelist_request.user.username}'s request?" } do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <% end %>
  </td>
  <td>
    <%= whitelist_request.actor.username if whitelist_request.actor.present?%>
  </td>
</tr>
