<% page_title "Whitelist Requests" %>

<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

  <div class="page-actions">
    <%= link_to("Generate Whitelist", whitelisted_admin_users_path(:format => :json),
      class: "btn btn-primary btn-sm") %>
    <%= link_to("Charts", admin_whitelist_requests_charts_path,
      class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-body">
        <h4 style="float: left">
          <%= link_to "All", admin_whitelist_requests_path %> |
          <%= link_to "Pending", pending_admin_whitelist_requests_path %> |
          <%= link_to "Approved", approved_admin_whitelist_requests_path %> |
          <%= link_to "Denied", denied_admin_whitelist_requests_path %>
        </h4>

        <div class="table-responsive">
          <p>There are <%= @whitelist_requests.count %> record(s).</p>

          <table class="table table-border-around mb-0">
            <thead>
              <tr>
                <th>Request ID</th>
                <th>AthensMC Username</th>
                <th>Minecraft UUID</th>
                <th>Last Sign In IP Address</th>
                <th>Referred by</th>
                <th>Status</th>
                <th>Approved/Denied by</th>
                <th style="min-width: 140px;"></th>
              </tr>
            </thead>
            <tbody>
              <%= render @whitelist_requests %>
            </tbody>
          </table>

          <div class="mt-3 row justify-content-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
