  <% page_title "Rockets Rifles Robots" %>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Image -->
         <%= image_tag("/../images/rockets-rifles-robots/rrr_website_banner_trans.png", :class => "img-responsive")   %>
      </div>

    </div>
  <br />
  <br />
    <div class="row">
      <div class="col-md-8">
        <div class="well well-sm">
          <h2>Rockets Rifles Robots</h2>
            <p>  Do you dream of piloting a spaceship across the stars? Of building a super scientist’s lab and delving into technical mysteries and designing fantastic machines? Do you hope to have an army of robot minions, waiting to carry out your nefarious schemes?</p>

            <p>Or do you just want a bunch of guns to shoot zombie hordes with?</p>

            <p>If any of those things sound like fun, then Rockets, Rifles and Robots is the pack for you. This pack has a technical/industrial focus and all kinds of mods - old friends with exciting updated features, and new favorites! Join us and explore everything our signature mod pack has to offer. </p>
          <h3>Installing</h3>

            <p>Rockets, Rifles and Robots is our signature Athens modded Minecraft pack, designed by our staff and hosted via the Technic launcher, using Solder for ease of maintenance. In order to connect to our server, you will need to begin by downloading the Technic launcher at: </p>

            <p>You can download the Technic Launcher from <%= link_to "this link", "http://www.technicpack.net " %>.</p>

            <p>Once you have the Technic launcher installed, you will “+ Add New Pack” on the left side of the interface and when prompted, paste in the link below:</p>
              <blockquote><samp>http://www.technicpack.net/api/modpack/rockets-rifles-robots</samp></blockquote>
          <p><strong>Or search in the top left "Rockets Rifles Robots" and click the "Install" button on their new launcher</strong></p>
           <p>Next check “Always use recommended builds.” This will keep your version of the pack in sync with whatever updates and changes are made. A full mod list and updates can be found here:
            <%= link_to("http://www.technicpack.net/modpack/details/rockets-rifles-robots", "http://www.technicpack.net/modpack/details/rockets-rifles-robots") %>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Things to Know Well -->
        <div class="well alertwell">
          <h4><strong>Things to Know</strong></h4>
           <p><strong>Server IP:</strong> rrr.athensmc.com</p>
           <p><strong>Mumble IP:</strong> mumble.athensmc.com (port: 64738)</p>
           <p><%= link_to("Forums", "http://forums.athensmc.com") %> | <%= link_to("Technic Launcher", "http://technicpack.net") %></p>
        </div>
        <!-- Other Downloads Well -->
        <!-- Hiding this because it's not useful for v4.0 at the moment -
         <div class="well infowell">
            <h4><Strong>Other Downloads</strong></h4>
             <p><strong>Art Assets:</strong>  <%= link_to("RRR Assets", "http://cdn.athensmc.com/resources/downloads/rrr_assets.zip") %><br />
               <strong>DIY Launcher Kit:</strong> <%= link_to("RRRv3.5_Client.zip", "http://cdn.athensmc.com/resources/downloads/RRRv3.5_Client.zip") %></p>
             <p><%= link_to("MultiMC", "http://multimc.org/") %> | <%= link_to("Installing Forge on the Vanilla Launcher", "http://www.minecraftforge.net/wiki/Installation/Universal") %></p>
         </div>
       -->
      </div>


    </div>

  <div class="row">
     <div class="col-md-6">
      <%= render 'faq' %>
    </div>
  <!-- Twitter Col- -->
    <div class="col-md-6">
      <div class="well">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AthensMinecraft" data-widget-id="471126696138002432">Tweets by @AthensMinecraft</a>
                <script src="//platform.twitter.com/widgets.js"></script>
      </div>
    </div>

</div>



  </div> <!-- End of Page Well -->
