<% page_title "Elemental Fury - Snapshot Survival" %>
<!-- Start of Page Content -->
<div class="well">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron center">
				<h2>Snapshot Survival Server</h2>
			</div>
		</div> <!-- /.col-md-12 -->
	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h2>Snapshot Survival Server</h2>
				<p>
					Because of the nature of snapshots, we cannot gurantee that the server will be bug-free. So if you're interested in checking out the latest snapshots but not <em>too</em> worried about your builds
					this server is for you!
				</p>
			</div> <!-- /.well -->
		</div> <!-- /.col-md-8 -->

		<div class="col-md-4">
			<!-- Things to Know Well -->
			<div class="well alertwell">
				<h4><strong>Things to Know</strong></h4>
				<p><strong>Server IP:</strong> snapshot.athensmc.com</p>
				<p><strong>Mumble IP:</strong> mumble.athensmc.com (port: 64738)</p>
				<p><%= link_to("Server Map", "http://a02.athensmc.com") %> | <%= link_to("Forums", "http://forums.athensmc.com") %></p>
			</div>
			<% if false #Lets Hide this for Now %>
			<!-- Events Well -->
			<div class="well eventswell">
					<h4><Strong>Upcoming Events</strong></h4>
						<p><strong>March 23rd, 2015:</strong>  <%= link_to("UHC EVENT #3", servers_snapshot_path ) %><br />
						<p><strong>March 25th, 2015:</strong>  <%= link_to("UHC EVENT #4", servers_snapshot_path ) %><br />
			</div>
			<% end %>
		</div> <!-- /col-md-4 -->
	</div> <!-- /.row -->
	<div class="row">
     <div class="col-md-6">
      <%= render 'faq' %>
    </div>
  <!-- Twitter Col- -->
    <div class="col-md-6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AthensMinecraft" data-widget-id="471126696138002432">Tweets by @AthensMinecraft</a>
          <script src="//platform.twitter.com/widgets.js"></script>
      </div>
  </div>

</div>
