<% page_title "Create Revision" %>
<div class="well">

	<div class="page-header">
		<h1>New Revision</h1>
	</div>

	<%= form_for :revision, url: revisions_path do |f| %>
		<% if @revision.errors.any? %>
			<div id="error_explanation">
				<h2><%= @revision.errors.count %> Error(s) prohibited this from being saved:</h2>
				<ul>
					<% @revision.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label :title %>

			<%= f.text_field :title, :placeholder => "Please enter a title", class: "form-control input-lg" %>
		</div>

		<div class="form-group">
			<%= f.label :text %>

			<%= f.text_area :text, :placeholder => "Post changes here, markdown supported", :rows => 5, class: "form-control" %>
		</div>
		
	  	<div class="form-actions">
		<%= f.button "Add New Revision", class: "btn btn-primary" %>
		<%= link_to "Cancel", revisions_path, :class => "btn btn-default" %>
		</div>

	<% end %>
</div>