<% page_title @revision.title %>
<div class="well">
	<div class="page-header">
		<h1> <%= @revision.title %> <small>Posted <%= time_ago_in_words(@revision.created_at) %> ago</small></h1>
	</div>
	<%= markdownify @revision.text %>

	<hr>
 	<%= link_to raw("Edit Change"), edit_revision_path(@revision), :class => "btn btn-info" %>


 	<%= link_to raw("Back to Changes"), revisions_path, :class => "btn btn-primary" %>
<%= link_to 'Destroy', revision_path(@revision),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

</div>