<footer class="footer py-3 text-light">
  <div class="container">
    <div class="text-center my-4">
			<%= link_to(root_path, class: "footer-link",
				target: "_blank") do %>
				<%= image_tag("athensLogo.png",
					class: "footer-logo mb-3", alt: "AthensMC Logo") %>
			<% end %>

      <p class="text-dark">
        &copy; 2014-<%= Time.zone.now.year %>
				<%= link_to 'Andrew Fomera', 'https://andrewfomera.com', class: 'text-link' %>
      </p>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <%= link_to("Twitter", "https://twitter.com/AthensMinecraft",
            class: "text-muted", target: "_blank") %>
        </li>
        <li class="list-inline-item">&middot;</li>
        <li class="list-inline-item">
          <%= link_to("GitHub", "https://github.com/AthensMC",
            class: "text-muted", target: "_blank") %>
        </li>
      </ul>
    </div>
  </div>
</footer>
