<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('athensLogo.png', width: "171", height: "30") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbar-content" aria-controls="navbar-content"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle"
             norel id="nav-servers-dropdown"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
             Servers
           </a>
          <div class="dropdown-menu" aria-labelledby="nav-servers-dropdown">
            <%= link_to servers_rrr_path, class: "dropdown-item" do %>
              <%= fa_icon "th-large fa-fw", text: "Rockets Rifles Robots" %>
            <% end %>

            <%= link_to servers_snapshot_path, class: "dropdown-item" do %>
              <%= fa_icon "camera-retro fa-fw", text: "Snapshot Survival" %>
            <% end %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to forum_threads_path, class: "nav-link" do %>
            <%= fa_icon "weixin", text: "Forums" %>
          <% end %>
        </li>

      <% if user_signed_in? %>
        <!-- Notifications -->
        <!-- TODO: Fix notifications styling -->
        <li class="nav-item dropdown" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "bell" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown" data-behavior="notifications-list">
            <!-- Notifications get inserted here -->
            <% Notification.includes(:notifiable, :recipient).recent.for_user(current_user).limit(5).each do |notification| %>
              <%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}",
                locals: {notification: notification} %>
            <% end %>
          </div>
        </li>
        <!-- ./notifications -->

        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle"
             norel id="nav-user-dropdown"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
             <%= image_tag(current_user.decorate.minecraft_avatar,
              width: "24px", height: "24px") %>
             <%= current_user.username %>
           </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-user-dropdown">
            <%= link_to user_path(current_user.username), class: "dropdown-item" do %>
              <i class="fa fa-user"></i> &nbsp; View Profile
            <% end %>

            <%= link_to subscribe_path, class: "dropdown-item" do %>
              <i class="fa fa-money"></i> &nbsp; Subscribe
            <% end %>

            <%= link_to downloads_path, class: "dropdown-item" do %>
              <i class="fa fa-cloud-download"></i> &nbsp; Map Downloads
            <% end %>

            <%= link_to information_path, class: "dropdown-item" do %>
              <i class="fa fa-info-circle"></i> &nbsp; Rules & Information
            <% end %>

            <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
              <i class="fa fa-cog"></i> &nbsp; Edit Account Settings
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete,
              class: "dropdown-item" do %>
              <i class="fa fa-sign-out"></i> &nbsp; Sign Out
            <% end %>

            <div class="dropdown-divider"></div>

            <% if user_signed_in? && current_user.admin? %>
              <%= link_to admin_downloads_path, class: "dropdown-item" do %>
                Admin Downloads
              <% end %>

              <%= link_to admin_users_path, class: "dropdown-item" do %>
                Admin Users
              <% end %>

              <%= link_to admin_whitelist_requests_path, class: "dropdown-item" do %>
                Admin Whitelist Requests
              <% end %>

              <%= link_to admin_servers_path, class: "dropdown-item" do %>
                Admin Servers
              <% end %>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to information_path, class: "nav-link" do %>
            <i class="fa fa-info-circle"></i> &nbsp; Support
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <%= fa_icon "sign-in", text: "Sign In" %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <%= fa_icon "user-plus", text: "Sign Up" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
