<% content_for :title, "Downloads" %>
<div class="well">
	<div class="page-header">
		<h1>Map Downloads</h1>
	</div>
	<p>Downloads will be posted every month so that you can regularly keep a backup of your builds if the unlikely event of a critical server failure.</p>

	<p>To use these downloads, you'll need a program like <%= link_to "7-Zip", "http://www.7-zip.org/" %></p>

	<div class="alert alert-danger">
		<p>These downloads are not automatic and may not be updated quickly!</p>
	</div>

	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>Server</strong></td>
			<td><strong>Map Download</strong></td>

		<tr class="success">
			<td>12/22/2013</td>
			<td>Survival</td>
			<td><%= link_to 'Latest Map Download', 'http://maps.athensmc.com/backups/20131222-13-50surv.tar.gz' %></td>
		</tr>

		<tr>
			<td>11/26/2013</td>
			<td>Survival</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131126-21-24surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>11/16/2013</td>
			<td>Survival</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/20131116-15-50surv.tar.gz' %></td>
		</tr>
		<tr>
			<td>10/13/2013</td>
			<td>Survival</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/101313-00-50survival.tar.gz' %></td>
		</tr>
	</table>
</div>
