<% page_title "Home" %>

	<div class="jumbotron text-center mb-4">
	  <h1 class="display-4">Want a great gaming community?</h1>
	  <p class="lead">We want all of our players to enjoy themselves.</p>
		<p>
			We offer both <%= link_to "Modded Minecraft", servers_rrr_path,
				class: "lead-link" %> or <%= link_to "vanilla snapshot survival",
					servers_snapshot_path, class: "lead-link" %> options.
		</p>
	  <%= link_to "Learn more", information_path, class: 'btn btn-lg btn-primary' %>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card card-body mb-4">
				<div class="media">
					<%= image_tag "/../images/rockets-rifles-robots/rrr_cube.png",
						alt: "Rockets Rifles Robots Cubed Image", class: "img-fluid pull-left" %>

					<div class="media-body">
						<h1 class="display-5">Rockets Rifles Robots</h1>
						<p class="lead">A customized modded Minecraft experience</p>
						<p>Do you dream of piloting a spaceship across the stars? Of building a super scientist’s lab and delving into technical mysteries and designing fantastic machines? Do you hope to have an army of robot minions, waiting to carry out your nefarious schemes?</p>

						<p>Or do you just want a bunch of guns to shoot zombie hordes with?</p>

						<p>If any of those things sound like fun, then Rockets, Rifles and Robots is the pack for you. This pack has a technical/industrial focus and all kinds of mods - old friends with exciting updated features, and new favorites! Join us and explore everything our signature mod pack has to offer. </p>
						<%= link_to "Learn more about Rockets Rifles Robots", servers_rrr_path, class: "btn btn-success" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<div class="card card-body mb-4">
				<h1 class="display-5">Are you ready to give us a try?</h1>
				<p class="lead">Check out the Community Information to learn what you need to do to join!</p>
				<%= link_to "Community Information", information_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
