<% page_title "Statistics" %>
<h1>Website Stats</h1>

<hr />

<!-- Stats Table -->
<table class="table table-bordered table-sm table-responsive">
  <tr>
	<td>Type:</td>
	<td>Number of:</td>
  </tr>
  <!-- Users -->
  <tr>
  	<td>Users</td>
  	<td><%= @users.count %></td>
  </tr>
  <!-- Revisions -->
  <tr>
  	<td>Revisions</td>
  	<td><%= @revisions.count %></td>
  </tr>
	<!-- Casts -->
  <tr>
  	<td>Casts</td>
  	<td><%= @casts.count %></td>
  </tr>
	<!-- Whitelisted Members -->
  <tr>
  	<td>Whitelisted members</td>
  	<td>Total: <%= @whitelist_requests.count %>
			 (<%= @whitelist_requests.approved.count %> approved)
			 (<%= @whitelist_requests.denied.count %> denied)
			 (<%= @whitelist_requests.pending.count %> pending)
		 </td>
  </tr>
</table>
<!-- End Stats Table -->
