<tr>
  <td>
    <%= link_to server.id, admin_server_path(server.id) %>
  </td>
  <td><%= server.name %></td>
  <td><%= server.ip %></td>
  <td><%= server.ports %></td>
  <td><%= local_time_ago(server.created_at) %> </td>
</tr>
