<%= div_for forum_post, class: forum_post_classes(forum_post) do %>
  <div class="forum-post-header">
    <div class="pull-right">
    <% if user_signed_in? && policy(forum_post.forum_thread).edit? %>
      <%= link_to edit_forum_thread_forum_post_path(forum_post.forum_thread, forum_post) do %>
        <%= fa_icon "pencil" %>
      <% end %>
    <% end %>
    </div>
    <%= link_to user_path(forum_post.user.username) do %>

      <%= image_tag forum_post.user.minecraft_avatar %>
      <p class="text-muted">
        <strong><%= forum_post.user.username %></strong>
    <% end %>
    <%= user_badges(forum_post.user) %>
       posted <%= local_time_ago forum_post.created_at %>:</p>
  </div>
  <div class="forum-post-body">
    <p><%= html_render forum_post.body %></p>
  </div>

<% end %>
