<tr>
  <td>
    <%= link_to user.id, admin_user_path(user.id) %>
  </td>
  <td>
    <%= image_tag user.decorate.minecraft_avatar,
      :height => "48px",
      :class => "tag-tooltip",
      data: {
        'data-toggle' => "tooltip",
        'data-placement' => "left",
        title: user.dashed_uuid
      }  %>
  </td>
  <td><%= link_to user.username, user_path(user.username) %></td>
  <td><%= link_to user.email, admin_user_path(user.id) %> </td>
  <td><%= user.last_sign_in_ip %></td>
  <td><%= local_time_ago(user.last_sign_in_at) if user.last_sign_in_at.present? %> </td>
  <td><% if user.admin? %><span class="badge badge-danger">Admin</span> <% else %> <span class="badge badge-success">User</span> <% end %></td>
  <td><%= user.dashed_uuid %></td>
</tr>
