<% page_title "All Users" %>
<div class="well">
<div class="page-heading">
	<h1>All Users</h1>
</div>
<table class="table table-hover table-striped table-bordered">
 <thead>
        <tr>
          <th>User ID:</th>
          <th>Avatar</th>
          <th>Username:</th>
          <th>Email Address:</th>
          <th>IP:</th>
          <th>Last Seen:</th>
          <th>Rank</th>
          <th>UUID</th>
        </tr>
      </thead>
      <tbody>

<% @users.each do |user| %> 
        <tr>
        <td> <%= link_to user.id, admin_user_path(user.id),class: "tag-tooltip", data: { 'data-toggle' => "tooltip", 'data-placement' => "left", title: "Tooltip on left" } %> </td>
        <td><% if user.minecraft_uuid.blank? %> 
              <%= image_tag "https://i.imgur.com/ocJVWAc.png", :height => "64px", :class => "tag-tooltip" %>
              <!--<img src="https://i.imgur.com/ocJVWAc.png" height="64px" /> -->
            <% else %>
             <%= image_tag "https://crafatar.com/avatars/" + user.minecraft_uuid + "?helm&size=64", :height => "64px", :class => "tag-tooltip", data: { 'data-toggle' => "tooltip", 'data-placement' => "left", title: user.dashed_uuid }   %>
              <!--<img src="https://crafatar.com/avatars/<%= user.minecraft_uuid %>?helm&size=64" /> -->
             <% end %>
        </td>
		<td><%= user.username %></td>
	    <td><%= link_to user.email, admin_user_path(user.id) %> </td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= local_time_ago(user.last_sign_in_at) %> </td>
         <td><% if user.admin? %> <span class="label label-danger">Admin</span> <% else %> <span class="label label-green">User</span> <% end %></td>
        <td><% if user.minecraft_uuid.blank? %> No UUID has been linked <% else %> <%= user.minecraft_uuid %> <% end %></td>
        <td><%= user.dashed_uuid %> </td>
        </tr>
<% end %>
      </tbody>
    </table>

<% #Pagination Renderer %>
	<div class="center">
	<%= will_paginate @user, renderer: BootstrapPagination::Rails %>
	</div>

</table>
<div class="alert alert-green">
derp
</div>
    </div><!-- /.well -->