<% page_title "All Users" %>

<h1>
  <div class="pull-right">
    <%= form_tag admin_users_path, method: :get, class: "input-group" do %>
      <%= text_field_tag :q, params[:q],
        placeholder: "Search...", class: "form-control" %>
      <% if params[:q].present? %>
        <div class="input-group-btn">
    			<%= link_to admin_users_path,
    				class: "btn btn-secondary" do %>
    				<span class="fa fa-close"></span>
    				<span>Clear search results</span>
    			<% end %>
        </div>
  		<% end %>
    <% end %>
  </div>
	All Users
</h1>

<% if @users.suggestions.any? %>
 	<p class="lead">Did you mean: <% @users.suggestions.first %>?</p>
<% end %>
<table class="table table-responsive table-hover table-bordered table-sm">
 <thead>
	  <tr>
	    <th>User ID:</th>
	    <th>Avatar:</th>
	    <th>Username:</th>
	    <th>Email Address:</th>
	    <th>IP:</th>
	    <th>Last Seen:</th>
	    <th>Rank:</th>
	    <th>UUID:</th>
	  </tr>
	</thead>
  <tbody>
		<%= render @users %>
  </tbody>
</table>

<%= paginate @users %>
