<% page_title "All Users" %>

<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>
</div>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-body card-header">
        <%= form_with(url: admin_users_path, class: "search-group", method: :get, local: true) do |f| %>
          <%= f.text_field(:q, value: params[:q], class: "form-control search-group-input",
            placeholder: "Search by name or email") %>

            <% if parameters_present?(%w(q)) %>
              <%= link_to admin_users_path,
                class: "btn btn-outline-secondary ml-3" do %>
                <span>Clear search results</span>
              <% end %>
            <% end %>

          <%= submit_tag("Search", class: "btn btn-secondary search-group-button") %>
        <% end %>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-border-around mb-0">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>Email Address</th>
                <th>IP</th>
                <th>Last Seen</th>
                <th>Rank</th>
                <th>UUID</th>
              </tr>
            </thead>
            <tbody>
              <%= render(@users, cached: true) %>
            </tbody>
          </table>

          <div class="mt-3 row justify-content-center">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
