<% page_title "Forums" %>

<h1>
  <div class="pull-right">
    <div class="input-group">
      <%= form_tag forum_threads_path, method: :get, class: "input-group" do %>
        <%= text_field_tag :q, params[:q], placeholder: "Search...", class: "form-control" %>
        <% if params[:q].present? %>
          <div class="input-group-btn">
            <%= link_to forum_threads_path,
              class: "btn btn-secondary" do %>
              <span class="fa fa-close"></span>
              <span>Clear search results</span>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= link_to "New Topic", new_forum_thread_path,
        class: "btn btn-primary ml-1" if user_signed_in? %>
    </div>
  </div>
  Community Discussion
</h1>

<%= render @forum_threads %>

<%= will_paginate @forum_threads, renderer: BootstrapPagination::Rails %>

<p class="text-muted text-center">
  About <%= @forum_threads.total_count %> results
  (took <%= @forum_threads.took %>ms)
</p>
