<% page_title "#{@forum_thread.subject}" %>
<div class="well">

  <%= link_to forum_threads_path do %>
    <%= fa_icon "arrow-left", text: "Back to the forum" %>
  <% end %>

  <h2 class="page-header"><%= @forum_thread.subject %></h2>
  
  <%= render @forum_thread.forum_posts %>

  <hr />
  <%= render partial: "forum_posts/form" %>
</div>
