<% page_title "#{@forum_thread.subject}" %>
<div class="well">

  <%= link_to forum_threads_path do %>
    <%= fa_icon "arrow-left", text: "Back to the forum" %>
  <% end %>

  <h2 class="page-header">
    <div class="pull-right text-muted">
      <% if user_signed_in? && @forum_thread.sticky? && current_user.admin? %>
        <%= link_to unsticky_forum_thread_path(@forum_thread), method: :patch do %>
          <%= fa_icon "thumb-tack", text: 'Unstick' %>
        <% end %>

      <% elsif user_signed_in? && current_user.admin? %>

        <%= link_to sticky_forum_thread_path(@forum_thread), method: :patch do %>
          <%= fa_icon "sticky-note", text: 'Stick' %>
        <% end %>

      <% end %>
      <% if user_signed_in? && current_user == @forum_thread.user || user_signed_in? && current_user.admin? %>
        <%= link_to edit_forum_thread_path(@forum_thread) do %><%= fa_icon "pencil" %><% end %>
      <% end %>
    </div>
    <% if @forum_thread.sticky? %>
      <%= fa_icon "thumb-tack" %>
    <% end %>
    <%= @forum_thread.subject %>

  </h2>

  <%= render @forum_thread.forum_posts %>

  <hr />
  <%= render partial: "forum_posts/form" %>
</div>
