<li class="notification">
  <%= link_to forum_thread_path(notification.notifiable.forum_thread) do %>
    <%= image_tag(notification.actor.minecraft_avatar, width: '24px', height: '24px') %> <strong><%= notification.actor.username %></strong> <%= notification.action %> a <%= notification.notifiable_type.underscore.humanize %> on <%= notification.notifiable.forum_thread.subject %>: <%=  local_time_ago notification.created_at %>
  <% end %>
</li>
