<% page_title "AthensCast" %>
<div class="well">

	<div class="jumbotron center jumboalert">
		<h1 class="jumbo-header">Got a suggestion?</h1>
		<!--<button class="btn btn-primary btn-lg">I have something you should talk about</button>-->
		<p>Email us at king601@athensmc.com with suggestions</p>
	</div>


	<div class="page-header">
		<h1>All Episodes</h1>
	</div>

	<% @cast.each do |cast| %>
	  <div class="episode-card">
 		  <h3 style="margin-top:0px">
 		  <!--<img src="http://placehold.it/300x150" class="img-responsive img_gloss"> -->
	              <% if cast == @cast_latest %> <span class="pull-right label label-danger">New Episode</span> <% end %>
	              <%= link_to cast.episode, cast_path(cast) %>
          </h3>
           <p><strong class="text-muted">
              <%= cast.releasedate %>
            </strong></p>
            <p><%= short_markdownify(cast.description).html_safe %></p>

              <p>
              <%= link_to raw('Watch this Episode <span class="arrow">→</span>'), cast, class: "plain-link" %>
              </a></p>
              <% if current_user.try(:admin?) %>
				 &nbsp;
				<%= link_to edit_cast_path(cast) do %>
				<i class="fa fa-pencil-square-o"></i> Edit
				<% end %>
			<% end %>
 	  </div>
          <hr />
        <% end %>
	  
	  

	<!-- Pagination Stuff  -->
	<div class="center">
	<%= will_paginate @cast, renderer: BootstrapPagination::Rails %>
	</div>


	<!--
	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 25</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 24</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 23</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
	</div>
	<br />	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 22</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 21</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 20</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
	</div>

	-->
</div>