<% page_title "AthensCast" %>
<div class="well">

	<div class="jumbotron center jumboalert">
		<h1 class="jumbo-header">Got a suggestion?</h1>
		<p>Email us at king601@athensmc.com with suggestions</p>
		<% # link_to "Suggest something today!", suggest_casts_path, class: "btn btn-primary btn-lg"%>
	</div>


	<div class="page-header">
		<% if current_user.try(:admin) %>
			<div class="pull-right">
				<%= link_to "New Cast", new_cast_path, class: "btn btn-warning" %>
			</div>
		<% end %>
		<h1>All Episodes</h1>

	</div>

<% if @cast.empty? %>
	<h3 class="center">Oh no! I couldn't find any casts right now. Check back soon!</h3>

	<hr/>
<% end %>
	<% @cast.each do |cast| %>
	  <div class="episode-card">
 		  <h3 style="margin-top:0px">
 		  <!--<img src="http://placehold.it/300x150" class="img-fluid img_gloss"> -->
	              <% if cast == @cast_latest %> <span class="pull-right badge badge-danger">New Episode</span> <% end %>
	              <%= link_to cast.episode, cast_path(cast) %>
          </h3>
           	<p><!-- Cast Release Date -->
							 <strong class="text-muted">
								<%= cast.releasedate %>
            	 </strong>
						</p>
            <p><%= short_markdownify(cast.description).html_safe %></p>

              <p>
              <%= link_to raw('Watch this Episode <span class="arrow">→</span>'), cast, class: "plain-link" %>
              </a></p>

	      <% #Admin Links for Casts %>
				<% if current_user.try(:admin?) %>
					<div class="pull-right">
						<%= link_to edit_cast_path(cast) do %>
							<i class="fa fa-pencil-square-o"></i> Edit
						<% end %>
					</div>
				<% end %>
 	  </div>
    <hr />
  <% end %>


	<!-- Pagination Stuff  -->
	<div class="center">
	<%= will_paginate @cast, renderer: BootstrapPagination::Rails %>
	</div>

	<p class="center text-muted">We livestream AthensCasts on our twitch page <%= link_to "located here", "http://twitch.tv/kaptoye" %></p>

</div>
