<% page_title @cast.episode %>

<!-- Start Cast Page -->
<div class="well">
	<!-- Render iFrame/Wistia Code -->
	<div class="castholder embed-responsive embed-responsive-16by9">
		<%= @cast.embedcode.html_safe %>
	</div>

	<hr />
	<h1><%= @cast.episode %> - <%= @cast.releasedate %></h1>
	<p><%= markdownify @cast.description %></p>

	<h2>Show Notes:</h2>
			<% if @cast.shownotes.nil? %>
					<div class="well shownotes-well">
						No show notes have been posted.
					</div>
				<% else %>
					<div class="well shownotes-well">
						<%= markdownify @cast.shownotes %>
				</div>
			<% end %>

	<hr />
 	<%= link_to raw("Back to Casts"), casts_path, :class => "btn btn-primary btn-lg" %>

	 	<% if current_user.try(:admin?) %>
			<div class="pull-right">
					<%= link_to edit_cast_path(@cast) do %>
					<i class="fa fa-pencil-square-o"></i> Edit
					<% end %>
			</div>
	  <% end %>

</div>
