<div class="well footer-well">
	<div class="row">
		<div class="col-md-6">
			<p>&copy; 2015 AthensMC &nbsp;<%= link_to "Revisions", revisions_path %> | <%= link_to "Subscribe", subscribe_path %></p>
		</div>
		<div class="col-md-6">
			<p class="pull-right">

				<%= link_to 'http://twitter.com/AthensMinecraft' do %>
				<i class="fa fa-twitter-square fa-2x"></i>
				<% end %>
			</p>
		</div>
	</div>

	<% if user_signed_in? %>
	  <% if current_user.minecraft_uuid.blank? %>
              <img src="https://crafatar.com/avatars/606e2ff0ed7748429d6ce1d3321c7838?overlay" height="64px" />
            <% else %>
              <img src="https://crafatar.com/avatars/<%= current_user.minecraft_uuid %>?overlay&size=64" />
             <% end %>

	  <%= "You are logged in as #{current_user.username}" %>
		<% if current_user.try(:admin?) %>
			<div class="pull-right">
				<div class="dropup">
				  <button class="btn btn-warning dropdown-toggle" type="button" id="admin_quickaction" data-toggle="dropdown" aria-expanded="true">
				    Admin QuickAction
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="admin_quickaction">
				    <li role="presentation"><%= link_to "All Users", admin_users_path, role: "menuitem", tabindex: "-1" %></li>
					    <li role="presentation"><%= link_to "Map Downloads", admin_downloads_path, role: "menuitem", tabindex: "-1" %></li>
				    <li role="presentation"><%= link_to "Whitelist Requests", admin_whitelist_requests_path, role: "menuitem", tabindex: "-1" %></li>
				  </ul>
				</div>
			</div>
			and you are an administrator
		<% end %>
	<% end %>
</div> <!-- /.footer-well well -->
