<!-- Start Header -->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-links">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-text">
    <%= link_to image_tag("athensLogo.png", :width  => "229", :height => "40"), root_path %>
   <!--- <img src="http://www.athensmc.com/athensLogo.png"  width="229" height="40" /> -->
    </div>
    <% link_to "AthensMC", root_path, class: "navbar-brand" %>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-links">
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> <!-- Servers Dropdown -->
            <%= link_to raw(("<i class='fa fa-inverse fa-list-alt fa-lg'></i> &nbsp;") + "Servers" +(" <b class= 'caret'></b>")), information_path, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}  %>
              <ul class="dropdown-menu">
                <!--<li role="presentation" class="dropdown-header">Minecraft</li> -->
                <li>
                  <%= link_to servers_vanilla_path do %>
                    <i class="fa fa-bolt fa-lg fa-fw"></i> &nbsp; Vanilla Minecraft Server
                  <% end %>
                </li>
                <li>
                  <%= link_to servers_rrr_path do %>
                    <i class="fa fa-th-large fa-lg fa-fw"></i> &nbsp; Rockets Rifles Robots
                  <% end %>
                </li>           
                <li class="divider"></li>
                <li>
                  <%= link_to downloads_path do %>
                    <i class="fa fa-cloud-download fa-fw fa-lg"></i> &nbsp; Map Downloads
                  <% end %>
                </li>
              </ul>
            </li> <!-- End Servers Dropdown -->
          <li>
            <%= link_to information_path do %>
              <i class="fa fa-info-circle fa-lg"></i> &nbsp; Support
            <% end %>
          </li>

          <li>
            <%= link_to "http://forums.athensmc.com" do %>
              <i class="fa fa-weixin fa-lg"></i> &nbsp; 
              Forums
            <% end %>
          </li>


          <% if user_signed_in? #User is signed in, so show account dropdown and signed in links... %>

            <li class="dropdown"> <!-- Signed In Dropdown -->
            <%= link_to raw(("<i class='fa fa-inverse fa-cogs fa-lg'></i> &nbsp;") + "Settings" +(" <b class= 'caret'></b>")), information_path, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}  %>
              <ul class="dropdown-menu">
                <!--<li role="presentation" class="dropdown-header">Minecraft</li> -->
                <li>
                  <%= link_to subscribe_path do %>
                    <i class="fa fa-money fa-lg fa-fw"></i> &nbsp; 
                    Subscribe
                  <% end %>
                </li>
                <li>
                  <%= link_to downloads_path do %>
                    <i class="fa fa-cloud-download fa-fw fa-lg"></i> &nbsp; Map Downloads
                  <% end %>
                </li>

                <li class="divider"></li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-cog fa-fw fa-lg"></i> &nbsp; Edit Account Settings
                  <% end %>
                </li>           
                <li>
                  <%= link_to destroy_user_session_path, method: :delete  do %>
                   <i class="fa fa-sign-out fa-fw fa-lg"></i> &nbsp;
                   Sign Out
                  <% end %>
                </li>

              </ul>
            </li> <!-- End User Signed In Dropdown -->

          <% else #User is not signed in, so show sign in and create buttons %> 
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i> &nbsp;
                Sign In
              <% end %>
            </li>
           <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user-plus"></i> &nbsp;
                Create Account
              <% end %>
            </li>
          <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- End Container to help pull in navbar content-->
</nav> <!-- End Header -->
