<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AthensMC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <% javascript_include_tag "//www.google.com/jsapi" %>
    <%= favicon_link_tag "/images/favicon.ico" %>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <%= render "shared/navbar" %>

  <%= flash_messages %>
  <div class="container flex-grow">

  	<% unless controller_name == 'links' && action_name == 'minecraft'  %>
      <% if user_signed_in? %>
        <% if current_user.minecraft_uuid.blank? %>
  	     <div class="alert alert-warning alert-dismissible" role="alert">
  	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	        <div class="row">
  	          <div class="pull-left col-md-pull-10">
  	              &nbsp; <i class="fa fa-fw fa-exclamation-triangle fa-5x"></i>
  	          </div>
  	          <div class="col-md-10">
  	            <h4><strong>Linking Minecraft Account</strong></h4>
  	            <div class="pull-right">
  	              <%= link_to "Link Minecraft Account", links_minecraft_path, class: "btn btn-primary" %>
  	            </div>
  	              <p>It seems your Minecraft account hasn't been linked to your account! We need a linked Minecraft account to allow you to apply for the whitelist.
  	                For more information about why we need to link please click <%= link_to "here.", root_path, class: "alert-link" %></p>
  	          </div>
  	        </div>
           </div>
        <% end %>
      <% end %>
    <% end #End Check for Link/minecraft controller and action %>

    <%= yield %>

    <%= render "layouts/google_analytics" %>
    <%= render "shared/footer" %>
  	</div>
  </body>
</html>
