<!DOCTYPE html>
<html>
<head>
  <title>AthensMC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>
	<div class="container">
		<div class="alert alert-danger">
			<strong>Server Closed</strong> As of 12/23/2013 the vanilla survival server was closed due to the lack of interest. You can find the latest world download on the Map Downloads page. 
		</div>
		<%= yield %>

		<%= render 'layouts/footer' %>
	</div>


</body>
</html>
