<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | AthensMC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
      <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag "/images/favicon.ico" %>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="<%= body_classes %>">
    <%= yield %>
    <%= render("shared/footer") %>
  </body>
</html>
