<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <!-- Center AthensMC Logo -->
  <tr>
    <td align="center" valign="top" id="topbar"><h1>AthensMC</h1></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding-bottom: 15px;">
      <h2>Your whitelist request has been <%= @whitelist_request.status %></h2>
      <p>Hello <%= @user.username %></p>

      <p>We're sending you this email because your whitelist request has been <%= @whitelist_request.status %> on <%= @whitelist_request.approved_on %></p>
      <p>Please give our servers approximately 10 minutes to pick up the new additions to the whitelist. </p>
      <p>See you soon!</p>
    </td>
  </tr>

  <tr id="links">
    <td align="center" style="padding: 10px;">
      <p>You should now be able to access the servers.</p>
      <p><%= link_to "Visit AthensMC", root_url %></p>
    </td>
  </tr>

  <tr>
    <td class="divider" height="1" colspan="2" bgcolor="#555555"></td>
  </tr>
  <tr>
    <td id="footer" colspan="2" align="center" style="padding: 50px;">
      &copy; 2016 <%= link_to "AthensMC", root_url %>. All Rights Reserved.
    </td>
  </tr>
</table>
